/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import 'https://fonts.googleapis.com/css?family=Allura';
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Exo 2", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.5em; }

.reveal h2 {
  font-size: 2.2em; }

.reveal h3 {
  font-size: 1.4em; }

.reveal h4 {
  font-size: 1.2em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2a76dd;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .slides {
  text-align: left; }

.reveal .slides > section,
.reveal .slides > section > section
p,
.reveal ul {
  line-height: 1.5; }

.reveal section h1 {
  letter-spacing: -.02em; }

.reveal section blockquote {
  width: 100%;
  background-color: #f8f8f8;
  border-left: 5px solid #c8c8c8;
  padding-left: 1em;
  box-sizing: border-box; }

.reveal section pre {
  width: 100%;
  font-size: 0.65em; }

.reveal section code {
  white-space: nowrap;
  padding: .05em .1em;
  font-size: 90%;
  color: #c7254e;
  background-color: #f8f8f8;
  border-radius: 4px; }

.reveal section pre code {
  color: inherit;
  white-space: inherit;
  font-size: inherit; }

.reveal section ul {
  display: block; }

.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
  display: block; }

.reveal section img.main {
  margin: .5em auto; }

.reveal section .text-center {
  text-align: center; }

.reveal section .green {
  color: green; }

.reveal section .yellow {
  color: #dcb41e; }

.reveal section .red {
  color: #c7254e; }

.reveal section { }
  .reveal section.title h1 {
    font-family: 'Exo 2', Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: inherit;
    font-size: 2.6em; }
    .reveal section.title h1 span {
      letter-spacing: -.04em;
      font-size: 2.3em; }
  .reveal section.brand {
    text-align: center; }
    .reveal section.brand img {
      width: 100%;
      margin-bottom: 0; }
  .reveal section.section h1 {
    text-align: center;
    text-transform: uppercase; }
  .reveal section.hands-on code {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.2);
    color: white; }
  .reveal section .animated code {
    animation: example 5s linear 2s infinite alternate; }

@keyframes example {
  0% {
    background-color: red; }
  25% {
    background-color: yellow; }
  50% {
    background-color: orange; }
  100% {
    background-color: white; } }
  .reveal section.inputs table {
    width: 100%; }
    .reveal section.inputs table td {
      border-bottom: 1px solid lightgrey; }
    .reveal section.inputs table input {
      position: relative;
      top: -.4em; }
  .reveal section .list-colored {
    list-style-type: none;
    margin-left: 0; }
    .reveal section .list-colored li {
      padding-left: .3em; }
    .reveal section .list-colored .bg-primary {
      color: #fff;
      background-color: #337ab7; }
    .reveal section .list-colored .bg-success {
      background-color: #dff0d8; }
    .reveal section .list-colored .bg-info {
      background-color: #d9edf7; }
    .reveal section .list-colored .bg-warning {
      background-color: #fcf8e3; }
    .reveal section .list-colored .bg-danger {
      background-color: #f2dede; }
